//@font-face
//  font-family: STKaiti
//  src: url("~@/assets/fonts/STKaiti.ttf")

@font-face
  font-family: STXingkai
  src: url("~@/assets/fonts/STXingkai.ttf")

//.kaiti
//  font-family: 'STKaiti', Serif !important

.xingkai
  font-family: 'STXingkai', Serif !important

.simsun
  font-family: 'SimSun', Serif !important
