textarea
  width: 100%
  &:focus
    outline: none

::-webkit-input-placeholder
  text-align: center

:-moz-placeholder
  text-align: center

::-moz-placeholder
  text-align: center

:-ms-input-placeholder
  text-align: center
