textarea
  width: 100%
  font-family: 'STKaiti', Serif
  font-size: 16px
  &:focus
    outline: none
//
//::-webkit-input-placeholder
//  text-align: center
//
//:-moz-placeholder
//  text-align: center
//
//::-moz-placeholder
//  text-align: center
//
//:-ms-input-placeholder
//  text-align: center
